<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
    android:label="慕思浏览器"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MyTV"
        android:usesCleartextTraffic="true"
        android:banner="@drawable/banner">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".SettingsActivity" android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name=".ReposActivity" android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name=".ProxyActivity" android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name=".VodActivity" android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name=".FilesActivity" android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name=".RepoPickerActivity" android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name=".ChannelActivity" android:exported="false"
            android:screenOrientation="landscape" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mytv.lite.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
